#square {
    width: 800px;
    height: 818px;
    background: black;
    display: flex;
    flex-direction: column;
}

.color-border {
    width: 100px;
    height: 100px;
    /*border: 1px solid #d523e3;*/
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-item {
    border: 3px solid #d523e3;
}

.color-item {
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 50px;
}

.square-item {
    display: flex;
    margin: 0;
}